.menu{
    background: #D5B0AC;
    text-decoration-color: #402E2A;
    text-align: center;
}
.item{
    width: 100px;
    height: 30px;
    display: inline-block;
    font-weight: bold;
    font-size: 110%;  
}
.item:hover{
    background-color: #9CD08F;
    color: #FFFFFF;
}
.tool{
    display: block;
    height: 40px;
    padding-top:10px;
    background: #d5b0ac;
    border-bottom: 1px solid;
    padding: 0 1em;
    line-height:50px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
}
.menu_vertical{
    width: 150px;
}
.tool:hover{
    background-color: #9CD08F;
    color: #FFFFFF;
}